<div style="max-width: 400px;">
    <table class="table table-responsive">
        <tbody>
        <tr>
            <th scope="row">ID</th>
            <td>{{ client_data['id'] }}</td>
        </tr>
        <tr>
            <th scope="row">First name</th>
            <td>{{ client_data['first_name'] }}</td>
        </tr>
        <tr>
            <th scope="row">Last name</th>
            <td>{{ client_data['last_name'] }}</td>
        </tr>
        <tr>
            <th scope="row">Email</th>
            <td>{{ client_data['email'] }}</td>
        </tr>
        <tr>
            <th scope="row">Phone</th>
            <td>{{ client_data['phone'] }}</td>
        </tr>
        <tr>
            <th scope="row">PIN</th>
            <td>{{ client_data['PIN'] }}</td>
        </tr>
        <tr>
            <th scope="row">Age</th>
            <td>{{ client_data['age'] }}</td>
        </tr>
        </tbody>
    </table>
</div>
<a class="nav-link" routerLink="/contracts-table" routerLinkActive="active" ariaCurrentWhenActive="page">Zpět</a>