<button type="button" class="btn btn-primary btn-sm ms-1" (click)="exportCsv()">Stáhnout csv</button>
<table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Jmeno</th>
        <th scope="col">Prijmeni</th>
        <th scope="col">Email</th>
        <th scope="col">Tel. cislo</th>
        <th scope="col">Rodne cislo</th>
        <th scope="col">Vek</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let poradce of poradci">
        <th scope="row">{{ poradce.id }}</th>
        <td> {{ poradce.jmeno }}</td>
        <td> {{ poradce.prijmeni }}</td>
        <td> {{ poradce.email }}</td>
        <td> {{ poradce.tel_cislo }}</td>
        <td> {{ poradce.rod_cislo }}</td>
        <td> {{ poradce.vek }}</td>
      </tr>
    </tbody>
  </table>
  