<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<nav class="navbar navbar-expand-sm bg-light navbar-light">
  <div class="container-fluid">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link active" routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page">BlogicProject</a>
      </li>
     <li class="nav-item">
        <a class="nav-link" routerLink="/smlouvy-table" routerLinkActive="active" ariaCurrentWhenActive="page" [class.disabled]="!authService.isLogin">Smlouvy</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/poradci-table" routerLinkActive="active" ariaCurrentWhenActive="page" [class.disabled]="!authService.isLogin">Poradci</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/klienti-table" routerLinkActive="active" ariaCurrentWhenActive="page" [class.disabled]="!authService.isLogin">Klienti</a>
      </li>
    </ul>
    <div class="row">
      <a class="nav-link col" routerLink="/login" routerLinkActive="active" ariaCurrentWhenActive="page" *ngIf="!authService.isLogin" >Login</a>
      <a class="nav-link col" routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page" (click)="logout()" *ngIf="authService.isLogin">Logout</a>
    </div>
  </div>
</nav>
<br>

<router-outlet></router-outlet>
</body>
</html>
