<button type="button" class="btn btn-primary btn-sm ms-1" (click)="exportCsv()">Stáhnout csv</button>
<table class="table">
    <thead>
      <tr>
        <th scope="col">Ev. cislo</th>
        <th scope="col">Instituce</th>
        <th scope="col">Klient</th>
        <th scope="col">Spravce</th>
        <th scope="col">Datum uzavreni</th>
        <th scope="col">Datum platnosti</th>
        <th scope="col">Datum ukonceni</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let smlouva of smlouvy">
        <td> {{ smlouva.ev_cislo }}</td>
        <td> {{ smlouva.instituce }}</td>
        <td> <a class="nav-link" style="padding: 0;" [routerLink]="['/klienti', smlouva.klient]" routerLinkActive="active" ariaCurrentWhenActive="page">{{ smlouva.klient }}</a></td>
        <td> <a class="nav-link" style="padding: 0;" [routerLink]="['/poradci', smlouva.spravce]" routerLinkActive="active" ariaCurrentWhenActive="page">{{ smlouva.spravce }}</a></td>
        <td> {{ smlouva.dat_uzavreni }}</td>
        <td> {{ smlouva.dat_platnosti }}</td>
        <td> {{ smlouva.dat_ukonceni }}</td>
      </tr>
    </tbody>
  </table>
  